__pycache__

/build*
/.vscode

/.vs
/out
/scenes
/blender_rc

/docs/html
/docs/latex

.DS_Store

*.pdf
# *.exr
# *.xml
my_first_scene.exr
my_first_scene.xml

# final_scene
OneDrive_1_1-19-2025
final_scene*
simple_scene